@media screen and (max-width: 1420px){
    .bar{
        width: 90%;
        padding: 5px;
    }
}

@media screen and (max-width: 1100px){
    .main-text{
        font-size: 90%;
     }

     .bullets li{
         font-size: 90%;
     }

     .bullets li a{
         margin-left: 10px;
     }

}

@media screen and (max-width: 1000px){
    .main-text{
        font-size: 80%;
   }

   .bullets {
       display: none;
   }

   .mobileapp{
       display: inline-block;
      position: relative;
      left: 50%;
      padding-left: 10px;

   }

   
}

@media screen and (max-width: 768px){
   .main-text{
       font-size: 65%;
   }

   .bar{
       margin: 0px 20px 0px -10px;
   }

}

@media screen and (max-width: 670px){
    .bar{
        margin: 0px 10px 0px -5px;
    }

    .mobileapp{
        position: relative;
        float: right;
        left: -10px;
    
    }

    .bullets li{
        font-size: 60%;
    
    }

    

    
}